body{
    background:url(image1.svg);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    background-size:cover;
}
.signin{
background:rgba(44,62,80,0.7);
padding:100px;
width:250px;
margin:auto;
margin-top:100px;
height:400px;
margin-left:700px;
border-radius:20px;
}
.form .c2{
    display:none;
}


         
form{
    width:240px;
    text-align:center;
   
}
input
{
width:240px;
text-align:center;
background:transparent;
border:none;
border-bottom:1px solid #fff;
font-family:'Play',sans-serif;
font-size:16px;
font-weight: 200px;
padding:10px 0px;
outline:none;
color:#fff;
}
input[type=button]{
border:none;
width:190px;
background:white;
color:#000;
font-size:16px;
line-height;25px;
padding:10px 0px;
border-radius:15px;
cursor:pointer;
}
input[type=button]:hover{
    color:white;
    background-color: black;
}
h2{
    color:white;
}
a{
color:yellow;
text-decoration:blink;
}
a:hover{
    color:skyblue;
}
.container{
    display:flex;
    flex-direction:row;
    width:100%;
}

::placeholder{
    color:aliceblue;
    opacity:0.8;/* firebox*/
}








